body {
    padding: 10em;
    margin: auto;
    color: brown;
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

button {
    margin: auto;
    background-color:  lightskyblue;
    color: black;
    padding: 1em;
}